body {
  font-family: 'Montserrat-Black', sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat-Bold', sans-serif;
}

p {
  color: #8f8f8f;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: 0; 
  padding-left: 0;
}

/* Sección Principal*/

#nav, #bienvenida, #preguntas {
  background-color: #ff4c68;
  color: white;

}

/* Sección Navbar */

#nav h1 {
  font-weight: bolder;
  size: 3.3rem;
  line-height: 1.5;
}

.main {
  padding: 3% 11% 0;
  overflow: hidden;
}

.navbar {
  padding: 0 0 6rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1 rem;
  font-family: 'Montserrat-Light', sans-serif;
}

.form-control:focus {
  border-color: #ff4c68;
  box-shadow: 0 0 0 .25rem rgb(247, 55, 85);
}

.download-btn {
  margin: 5% 3% 5% 0;
}

/* Sección Preguntas*/

#preguntas div{
  text-align: left;
  padding: 3%  22%  3%;

}
.icon {
  color: #ef8172;
  font-size: 4.4rem;
  padding-bottom: 1rem;

}

.icon:hover {
  color: #ff4c68;
}


.btn-outline-primary {
  color: #ff4c68;
  border-color: #ff4c68;
}

.btn-primary {
  color: white !important;
  border-color: #ff4c68 !important;
  background-color: #ff4c68 !important;
}

.btn-outline-primary:hover,
.btn-primary:hover {
  color: white !important;
  border-color: #ff4c68 !important;
  background-color: #ff4c68 !important;
  outline-color: #ff4c68;
}

.btn-outline-primary:focus,
.btn-primary:focus {
  outline-color: #ff4c6762;
  outline-style: solid;
  box-shadow: 0 0 0 4px #ff4c6762 !important;
}

.btn-outline-primary:active,
.btn-primary:active {
  outline-color: #ff4c6762 !important;
  outline-style: solid;
  background-color: #ff4c6762 !important;
  border-color: #ff4c68 !important
}

/* Sección Footer */
#footer {
  padding: 8%;
  background-color: white;
}

#footer p {
  padding: 3% 0;
}

.contact-icon {
  font-size: 3rem;
  padding: 1%;
  color: black
}

/* Responsive */

@media (max-width: 992px) {
  .navbar {
      padding: 0 0 3rem;
  }

}

@media (max-width: 768px) {
  .navbar {
      padding: 0 0 3rem;
  }

}

@media (max-width: 576px) {

  .col-lg-6 {
      padding: 0 8%;
  }

  .download-btn {
      margin-left: 3%;
  }

  .w-50 {
      margin-left: 0px;
      margin-right: 0px;
  }
}